* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .main, .column, .products, .products-list{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    gap: 20px;
    background-color: #d8f4ff;
}

.products{
    width: 70%;
    height: 50%;
    gap: 60px;
    border-radius: 15px;

}

.products-form{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    height: 60%;
}

.column{
    width: 50%;
    height: 80%;
    justify-content: space-around;
}

.products-list{
    width: 90%;
    height: 40%;
    gap: 40px;
}
.table-container, .table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.table{
    border: 2px solid black;
    border-collapse: collapse;
}

.thead{
    text-align: center;
    background-color: #d1d1d1;
    font-size: 18px;
}

.th-tittle{
    height: 40px;
    border: 3px solid black;
}

.table-data{
    border: 2px solid black;
    height: 50px;
    min-width: 7vw;
    padding-left: 15px;
    background-color: #cde6ff;
}

.icons{
    width: 50%;
    height: 80%;
    cursor: pointer;
    transition: scale 0.8s;
    margin: 0 20%;
}

.icons:hover{
    scale: 1.15;
}

.edit, .delete{
    display: inline-block;
    background-image: url(../assets/edit.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;

}

.delete{
    background-image: url(../assets/delete.png);
}

.btn, .btn-disable{
    width: 70%;
    height: 35px;
    border-radius: 10px;
    background-color: #8bc7ff;
    color: black;
    font-size: clamp(6px, 1vw, 18px);
    border: 1px solid black;
    transition: background-color, scale 0.8s;
}

.btn-disable{
    background-color: darkgray;
    transition: none;
}

.btn-disable:hover{
    cursor: not-allowed;

}

.btn:hover{
    background-color: #c7e1ff;
    scale: 1.1;
    cursor: pointer;
}

.input{
    width: 90%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
input:focus, .textarea:focus{
    background-color: #cce4ff;
}

.label{
    font-size: clamp(6px, 1.1vw, 18px);
    font-weight: bold;
}

.textarea{
    width: 90%;
    height: 60px;
}